<mat-tab-group *mobxAutorun>
    <mat-tab label="课文">
        <ng-template matTabContent>
            <div *ngFor="let line of GetLines()" (click)="playLine(line.start, line.duration)">
                <app-richline [tags]='line.tags' [line]='line.word'></app-richline>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="单词">
        <ng-template matTabContent>
            <mat-list>
                <mat-list-item *ngFor="let word of GetWords()">
                    <div (click)="playWord(word.start, word.duration)">{{word.content}}</div>
                </mat-list-item>
            </mat-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="笔记">
        <!-- https://github.com/ikatyang/emoji-cheat-sheet/blob/master/README.md -->
        <ng-template matTabContent>
            <markdown [src]="notes_path" emoji></markdown>
        </ng-template>
    </mat-tab>
</mat-tab-group>