<mat-tab-group>
    <mat-tab label="课文">
        <div (click)="play(44, 3)">
            <h2>
                <ruby>李<rt>り</rt></ruby>さんは<ruby>中国人<rt>ちゅうごくじん</rt></ruby>です
            </h2>
        </div>

        <div (click)="play(49, 4)">
            <h2>
                <ruby>森<rt>もり</rt></ruby>さんは<ruby>学生<rt>がくせい</rt></ruby>では　ありません
            </h2>
        </div>


        <div (click)="play(55, 4)">
            <h2>
                <ruby>林<rt>はやし</rt></ruby>さんは<ruby>日本人<rt>にほんじん</rt></ruby>ですか
            </h2>
        </div>

        <div (click)="play(60, 5)">
            <h2>
                <ruby>李<rt>り</rt></ruby>さんは
                <ruby>J<rt>ジエー</rt></ruby><ruby>C<rt>ツー</rt></ruby>
                <ruby>企<rt>き</rt></ruby><ruby>画<rt>かく</rt></ruby>
                の　<ruby>社員<rt>しやいん</rt></ruby>です
            </h2>
        </div>

        <div>
            <div (click)="play(67, 5)">甲：わたしは　<ruby>李<rt>り</rt></ruby>です。<ruby>小野<rt>おの</rt></ruby>さいですか。</div>
            <div (click)="play(72, 3)">乙：はい，そうです。<ruby>小野<rt>おの</rt></ruby>です。</div>
        </div>
        <br>
        <div>
            <div (click)="play(77, 3)">甲：<ruby>森<rt>もり</rt></ruby>さんは<ruby>学生<rt>がくせい</rt></ruby>ですか。</div>
            <div (click)="play(80, 5)">乙：いいえ，<ruby>学生<rt>がくせい</rt></ruby>では　ありません。<ruby>会社員<rt>かいしやいん</rt></ruby>です。
            </div>
        </div>

        <br>
        <div>
            <div (click)="play(88, 2)">甲：<ruby>吉<rt>よし</rt>田<rt>だ</rt></ruby>さんですか。</div>
            <div (click)="play(90, 5)">乙：いいえ，ちがいます。<ruby>森<rt>もり</rt></ruby>です。</div>
        </div>

        <br>
        <div>
            <div (click)="play(97, 4)">甲：<ruby>李<rt>り</rt></ruby>さんは
                <ruby>J<rt>ジエー</rt></ruby><ruby>C<rt>ツー</rt></ruby>
                <ruby>企<rt>き</rt></ruby><ruby>画<rt>かく</rt></ruby>
                の　<ruby>社員<rt>しやいん</rt></ruby>ですか。
            </div>
            <div (click)="play(101, 2)">乙：はい，そうです。</div>
        </div>

        <br>
        <div>
            <div (click)="play(133, 3)"><ruby>李<rt>り</rt></ruby>：
                <ruby>J<rt>ジエー</rt></ruby><ruby>C<rt>ツー</rt></ruby>
                <ruby>企<rt>き</rt></ruby><ruby>画<rt>かく</rt></ruby>
                の <ruby>小野<rt>おの</rt></ruby>さんですか。
            </div>
            <div (click)="play(136, 4)">
                <ruby>小野<rt>おの</rt></ruby>：はい，<ruby>小野<rt>おの</rt></ruby>です。
                <ruby>李<rt>り</rt></ruby>
                <ruby>秀<rt>しゅう</rt></ruby>
                <ruby>麗<rt>れい</rt></ruby>
                さんですか。
            </div>
            <div (click)="play(140, 5.5)">
                <ruby>李<rt>り</rt></ruby>：はい，
                <ruby>李<rt>り</rt></ruby>
                <ruby>秀<rt>しゅう</rt></ruby>
                <ruby>麗<rt>れい</rt></ruby>
                です。はじねまして。
                どうぞ　よろしくお<ruby>願<rt>ねが</rt></ruby>いします。
            </div>
            <div (click)="play(145.8, 3)">
                <ruby>小野<rt>おの</rt></ruby>：
                はじめまして，
                <ruby>小野<rt>おの</rt></ruby>
                <ruby>緑<rt>みどり</rt></ruby>
                です。
            </div>
            <div (click)="play(150, 3)">
                <ruby>森<rt>もり</rt></ruby>：
                <ruby>李<rt>り</rt></ruby>さん，
                こんにちは。
            </div>
            <div (click)="play(153, 1.7)">
                <ruby>李<rt>り</rt></ruby>：
                <ruby>吉<rt>よし</rt>田<rt>だ</rt></ruby>
                さんですが。
            </div>
            <div (click)="play(154.5, 5)">
                <ruby>森<rt>もり</rt></ruby>：
                いいえ，わたしは
                <ruby>吉<rt>よし</rt>田<rt>だ</rt></ruby>
                じゃ　ありません。
                <ruby>森<rt>もり</rt></ruby>
                です。
            </div>
            <div (click)="play(159.5, 4)">
                <ruby>李<rt>り</rt></ruby>：
                あつ，
                <ruby>森<rt>もり</rt></ruby>
                さんですか。どうも　すみません。
            </div>
            <div (click)="play(163.5, 3)">
                <ruby>森<rt>もり</rt></ruby>：
                いいえ，どうぞ　よろしく。
            </div>
            <div (click)="play(166.5, 5)">
                <ruby>李<rt>り</rt></ruby>：
                <ruby>李<rt>り</rt></ruby>
                <ruby>秀<rt>しゅう</rt></ruby>
                <ruby>麗<rt>れい</rt></ruby>
                です。こさらこそ，よろしくお<ruby>願<rt>ねが</rt></ruby>いします。
            </div>
        </div>
    </mat-tab>
    <mat-tab label="单词">
        <mat-list>
            <mat-list-item *ngFor="let word of words">
                <div mat-line (click)="playWord(word.start, word.duration)">{{word.content}}</div>
            </mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>